/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Container Section*/

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: 0 auto;
  max-width: 100%; 
}

h2, h3, h4 {
  font-family: PlayfairDisplay-Italic, sans-serif;
  font-size: 35px;
}

.about {
  padding: 50px 0;
}

.about p {
  line-height: 2;
  margin: 21px; 
}

span{
  font-family: PlayfairDisplay-Bold;
}



/* Header with Main Navigation */


.site-header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.logo img {
  width: 50%;
  height: 60px;
  display: flex;
}

.main-navigation {
  color: #e2574c;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cart img {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: flex-start;

}

.main-navigation a {
  text-decoration: none;
  color: #e2574c;
}

.main-navigation li {
  line-height: 100px;
  justify-content: center;
  display: inline-flex;
  justify-content: space-between; 
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  

}

/* Carousel */

h2 {
  margin-top: 60;
}

 .main-carousel {
    margin: 20px 20% 60px 20%;  
    height: 100%;
    
} 

.carousel-cell {
  display: inline-block; 
  margin: 42px 0;  
  height: 420px; 
  width: 30%;  
  color: #e2574c;
  
}

.carousel-cell p {
  color: #969696;
  text-transform: uppercase;
  margin: 15px 0;
}

.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
}

 .flickity-prev-next-button {
  display: none;
} 


/* banner */

.banner {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
  url(images/banner-girl.png) center 40px no-repeat,
  url(images/flower-bkgd.jpg) repeat-x center;
  background-size: cover, contain;
  height: 400px;
  width: 100%;
  position: relative;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  height: 100px;
  width: 80%;
}

.season {
  font-family: PlayfairDisplay-Regular;
  font-size: 35px;
}

.banner-text p {
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
  font-family: Raleway-Medium;
}

.screen-reader-text:focus {
   clip: auto !important;
   display: block;
   height: auto;
   left: 5px;
   top: 5px;
   width: auto;
   z-index: 100000; /* above all content */
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

#about[tabindex="-1"]:focus {
   outline: 0;
}
/* Handcraft about */

